<ion-view hide-nav-bar="true">
	<ion-content overflow-scroll="false" padding="true" scroll="true" class="background">
		<div class="logo-placeholder"></div>
 		<form
			method="post"
			name="recoverForm"
			ng-submit="ctrl.recover(userEmail)"
			class="signin-form"
		>
			<label class="item item-input">
				<span class="sr-only" translate>RECOVER_MAIL</span>
				<input
					type="email"
					id="email"
					class="input-label"
					name="userEmail"
					ng-model="userEmail"
					placeholder="{{ 'RECOVER_MAIL' | translate }}" required
				/>
			</label>
			<div ng-messages="recoverForm.userEmail.$error" ng-if="recoverForm.userEmail.$touched && recoverForm.userEmail.$error" class="padding assertive">
				<div ng-message="required" translate>RECOVER_MAIL_REQUIRED</div>
				<div ng-message="email" translate>RECOVER_MAIL_EMAIL</div>
			</div>
			<button
				type="submit"
				class="button button-assertive button-block"
				ng-disabled="recoverForm.$invalid || ctrl.loading"
				translate
			>RECOVER_SUBMIT</button>
		</form>
		<div
			ng-if="ctrl.recoverSuccess"
			class="padding positive"
			translate
		>RECOVER_SUCCESS</div>
		<div class="signin-addon-recover-actions">
			<a ui-sref="^.signin">
				<span translate>RECOVER_BACK_TO_LOGIN</span>
			</a>
		</div>
	</ion-content>
</ion-view>
