<ion-view hide-nav-bar="true">
	<ion-content overflow-scroll="false" padding="true" scroll="true" class="background">
		<div class="logo-placeholder"></div>
		<form
			method="post"
			name="signinForm"
			ng-submit="$ctrl.signin(userName, userPassword)"
			class="signin-form"
		>
			<label class="item item-input">
				<span class="sr-only" translate>SIGNIN_USERNAME</span>
				<input
					type="text"
					id="userName"
					class="input-label"
					name="userName"
					ng-model="userName"
					placeholder="{{ 'SIGNIN_USERNAME' | translate }}"
					required
					autocomplete="off"
				/>
			</label>
			<label class="item item-input">
				<span class="sr-only" translate>SIGNIN_PASSWORD</span>
				<input
					type="password"
					id="password"
					class="input-label"
					name="userPassword"
					ng-model="userPassword"
					placeholder="{{ 'SIGNIN_PASSWORD' | translate }}"
					required
					autocomplete="off"
				/>
			</label>
			<button
				type="submit"
				class="button button-assertive button-block"
				ng-disabled="signinForm.$invalid || $ctrl.loading"
			>
				<span
					ng-if="!$ctrl.loading"
					translate
				>SIGNIN_SUBMIT</span>
				<span
					ng-if="$ctrl.loading"
					translate
				>SIGNIN_LOADING</span>
			</button>
		</form>
		<div class="signin-addon-actions">
			<a
				ui-sref="^.recoverPassword"
				translate
			>SIGNIN_FORGET_PASSWORD</a>
		</div>
	</ion-content>
</ion-view>
